header{
  background-color: white;

}

html, body{
  margin: 0;
  height: 100%;
}

.header{
  display: flex;
}

#logo{
  align-self: center;
}

#signUpLinks{
  margin-left: auto;
}

#everythingExceptTheBackground{

  height: 100%;
}
